$primary-color: #495464;
$secondary-color: #BBBFCA;
$primary-white-color: #F4F4F2;
$primary-light-gray-color: #E8E8E8;
$accent-color: #FF4500; 
$tomato-color: #FF6347; 
// $accent-color: #FF6F61 
$blue-color: #6495ED ;
$dark-blue-color: #102C57;
$cornflower-blue-color: #6495ED;
$dark-turquoise-color: #00CED1;
$pink-color: #FFB6C1;
$hot-pink-color: #FF69B4;