// *******************************************
//          *** Listing ***
//********************************************
.list-container {
  background-color: $primary-white-color;
}

.page-title-container {
  display: flex;
  align-items: stretch;
  gap: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #495464;
}

.table-container {
  height: 70vh;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.table-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.footer-container {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  > mat-paginator {
    background-color: $primary-white-color;
  }
}

.create-btn-icon {
  background-color: $primary-color !important;
}

// *******************************************
//          *** Form ***
//********************************************

.form-container {
  margin-top: 30px;
  height: calc(100% - 30px);
}

.row {
  display: flex;
  gap: 10px;
}

mat-card-actions {
  flex-direction: row-reverse !important;
  padding: 24px 14px !important;
  gap: 16px !important;
  
}

.btn-save {
  // background-color: $primary-color !important;
  // color: $primary-white-color !important;
  background-color: $primary-color !important;
  color: $primary-white-color !important;
  padding: 8px 24px !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer;
}




// General
mat-icon{
  cursor: pointer;
}

mat-spinner{
  position: absolute !important;
  top: 40% !important;
  right: 50% !important;
}

mat-spinner circle {
  stroke: $primary-color;
}

