<div *ngIf="config?.length && !loading" class="filter-container">
    <form [formGroup]="formGroup">
        <mat-card>
            <mat-card-content>
                <div *ngFor="let item of config; let index='index'">
                    <ng-container [ngSwitch]="item.type">
                        <div class="row" *ngSwitchCase="'dropdown'">
                            <mat-form-field appearance="fill">
                                <mat-label>{{item.label}}</mat-label>
                                <mat-select [formControlName]="item.key">
                                    <mat-option *ngFor="let option of item.options" [value]="option._id">
                                        {{option.firstName}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>{{item?.icon}}</mat-icon>
                                <mat-error>{{item?.errorMsg}}</mat-error>
                              </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container [ngSwitch]="item.type">
                        <div class="row" *ngSwitchCase="'text'">
                            <mat-form-field appearance="fill">
                                <mat-label>{{item.label}}</mat-label>
                                <input matInput type="text" [placeholder]="item.label" [formControlName]="item.key">
                                <mat-icon matSuffix>{{item?.icon}}</mat-icon>
                                <mat-error>{{item?.errorMsg}}</mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
            </mat-card-content> 
        </mat-card>
    </form>

</div>